*{
    margin: 0;
    padding: 0;
    font-family: 'Sen', sans-serif;
    letter-spacing: 2px;
}

/* 
theme colors----
background: #161625
color: #007bff
shadow, outline, border: rgb(30, 30, 48)
secondary text: rgb(40, 167, 69) #28a745 -- green
                rgb(255, 7, 58) #ff0730 --red
                rgb(255, 193, 7) --yellow
*/

html, body{
    background: #222;
    color: #f5f5f5;
    font-family: 'Sen', sans-serif;
    letter-spacing: 2px;
    overflow-x: hidden;
}

.wrapper{
    margin: 0;
    padding: 0;
    width: 100vw;
    max-width: 100vw;
    /* justify-content: space-evenly;
    align-items: center; */
}
#container{
    margin: 60px 40px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-gap: 20px;
}
#launch{
    display: block;
    width: auto;
    margin: 40px auto;
    background: rgb(255, 208, 0);
    color: #222;
    font-size: 16px;
    font-weight: 700;
    padding: 15px 30px;
    border: none;
    outline: none;
    text-align: center;
}
#popup{
    display: none; /* Hidden by default */
    z-index: 1; /* Sit on top */
    overflow: auto; /* Enable scroll if needed */
    width: 80%;
    margin: 5% auto;
    background: #252525;
    padding: 50px;
    /* box-shadow:  5px 5px 10px #181818, 
                 -0px -0px 10px #2c2c2c; */
}
/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: rgb(255, 208, 0);
    text-decoration: none;
    cursor: pointer;
}
.list-items{
    line-height: 30px;
    font-size: 18px;
    color: #666;
}

.box{
    margin: 20px;
    padding: 20px 30px;
    border-radius: 25px;
    background: #222;
    box-shadow:  5px 5px 10px #181818, 
                 -5px -5px 10px #2c2c2cd8;
}
#canvas{
    grid-column: 1/3;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    vertical-align: baseline;
}

/* ======= styles for canvas element ======= */

#canvas-wrapper{
    padding-top: 50px;
    overflow: scroll;
}

canvas{
    height: 180px;
    width:  2000px;
    padding: 40px;
    /* background: #2c2c2c; */
    border-radius: 10px;
}

/* ======= canvas ends ======= */

#input{
    grid-column: 1/4;
    grid-row: 2/3;
    padding: 40px;
}
#code{
    grid-column: 3/4;
    grid-row: 1/2;
}
h1,h2,h3,h4,h5,h6{
    text-align: center;
    color: rgba(255, 208, 0, 0.836);
    font-weight: 700;
    margin: 10px;
    text-shadow:  2px 2px 5px #181818, 
                 -2px -2px 5px #2c2c2cd8;
}
#label1{
    color: rgb(255, 208, 0);
    font-size: 18px;
    transition: 0.8s ease-in;
    text-align: center;
    line-height: 30px;
}
#label2{
    color: rgb(255, 208, 0);
    font-size: 18px;
    transition: 0.8s ease-in;
    text-align: center;
    line-height: 30px;
}

/* ========= controls ========= */
.inputs{
    margin-top: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.input{
    align-items: center;
    background: #2c2c2c;
    width: 70%;
    margin: 10px 20px;
    outline: none;
    border: none;
    padding: 20px 30px;
    border-radius: 20px;
    color: #999;
    font-size: 18px;
    letter-spacing: 2px;
    font-family: 'Sen', sans-serif;
}
.select{
    align-items: center;
    background: #ffee0023;
    margin: 10px 20px;
    outline: none;
    border: none;
    padding: 20px 30px;
    border-radius: 20px;
    color: rgb(255, 208, 0);
    font-size: 18px;
    letter-spacing: 2px;
    font-family: 'Sen', sans-serif;
}
select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
option{
    display: block;
    background: #2c2c2c;
    outline: none;
    border: none;
    padding: 20px 30px;
    color: #ffd000;
    font-size: 18px;
    letter-spacing: 2px;
    font-family: 'Sen', sans-serif;
}
.values{
    letter-spacing: 2px;
}
.btn-container{
    padding: 0px 40px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.btn{
    padding: 15px 30px;
    border-radius: 30px;
    outline: none;
    border: none;
    font-size: 18px;
    letter-spacing: 2px;
    font-family: 'Sen', sans-serif;
    font-weight: 700;
}
.btn:hover{
    transition: 0.5s ease;
    box-shadow:  10px 10px 10px #0e0e0e, 
                 -7px -7px 10px #333333d8;
}
.btn-yellow{
    background: rgb(255, 208, 0);
    color: #222;
}
.btn-green{
    background: #28a745;
    color: #eee;
}
.btn-red{
    background: #ff0730;
    color: #eee;
}

#code{
    padding: 40px;
    height: auto;
}
#code-panel{
    height: 500px;
    min-width: 250px;
    margin-top: 30px;
    border-left: 3px solid #333;
    padding: 5px 10px;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 2px;
    font-family: 'Sen', sans-serif;
    color: #00b92b;
    overflow: scroll;
    scrollbar-width: thin;
    scrollbar-color: #444 transparent;
}

/* Scrollbars */

::-webkit-scrollbar{
    width: 8px;
    height: 8px;
    background: transparent;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb{
    background: #444;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover{
    background: #333;
    border-radius: 4px;
}
::-webkit-scrollbar-corner{
    background: black;
    visibility: hidden;
}
.code-line{
    list-style-type: none; 
    padding: 10px;
}
.code-line.active{
    background: #00b92b23;
}
/* .code-line:hover{
    background: #00b92b23;
    padding: 10px;
    transition: 0.5s ease;
    border-radius: 5px;
} */
#l1,#l2,#l3,#l4,#l5,#l6,#l7{
    border-radius: 5px;
    transition: 0.5s ease;
}

/* ============ draggable div functionality ============= */
.drag {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: move;
}
.drag img{
    display: inline;
    width: 30px;
    margin: 15px;
    cursor: move;
}

.drag:hover,
.drag:focus {
    color: rgb(255, 208, 0);
    text-decoration: none;
    cursor: pointer;
}

.current-step{
    display: block;
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 2px;
    font-weight: 400;
    color: #00b92b;
    background: #00b92b23;
}

.check{
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2px;
    font-family: 'Sen', sans-serif;
    background: #ffee0023;
    border-radius: 10px;
}

.hide{
    visibility: hidden;
    display: none;
}
.show{
    visibility: visible;
}
#prev{

}
#start{

}
#next{

}

/* ================ actions for canvas simulation ================ */
/* #actions{
    margin-top: 40px;    
} */

/* ========== Code for Smaller Screens =========== */

@media screen and (max-width: 780px){
    #container{
        margin: 60px 40px;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 20px;
    }
    #canvas{
        grid-column: span 3;
        grid-row: 2/3;
        padding: 40px;
    }
    #input{
        grid-column: 1/4;
        grid-row: 1/2;
        padding: 40px;
    }
    #code{
        grid-column: 1/4;
        grid-row: 3/4;
        padding: 40px;
    }
    .list-items{
        line-height: 24px;
        font-size: 16px;
        color: #666;
    }
}